aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
aistudio-sdk==0.2.6
altair==4.2.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asttokens==3.0.1
async-timeout==5.0.1
attrs==25.4.0
babel==2.17.0
bce-python-sdk==0.9.60
beautifulsoup4==4.14.3
blinker==1.9.0
brotli==1.2.0
cachetools==6.2.4
certifi==2026.2.25
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
colorlog==6.9.0
comm==0.2.3
contourpy==1.3.2
Crawl4AI==0.6.3
cryptography==46.0.3
cssselect==1.3.0
cssutils==2.11.1
cycler==0.12.1
datasets==4.5.0
debugpy==1.8.19
decorator==5.2.1
dill==0.3.4
distro==1.9.0
einops==0.8.1
entrypoints==0.4
et_xmlfile==2.0.0
exceptiongroup==1.3.1
executing==2.2.1
fake-http-header==0.3.5
fake-useragent==2.2.0
fastapi==0.128.0
fastuuid==0.14.0
ffmpy==1.0.0
filelock==3.20.3
Flask==3.1.2
flask-babel==4.0.0
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.10.0
ftfy==6.3.1
future==1.0.0
gitdb==4.0.12
GitPython==3.1.46
gradio==5.27.1
gradio_client==1.9.1
greenlet==3.3.0
groovy==0.1.2
grpcio==1.76.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.3.2
humanize==4.15.0
idna==3.11
imagesize==1.4.1
importlib_metadata==8.7.1
importlib_resources==6.5.2
ipykernel==7.1.0
ipython==8.38.0
itsdangerous==2.2.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver==1.4.9
linkify-it-py==2.0.3
litellm==1.81.0
lxml==5.4.0
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
modelscope==1.34.0
more-itertools==10.8.0
multidict==6.7.0
multiprocess==0.70.12.2
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.2
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.9.6.50
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.19.3
nvidia-nvtx-cu11==11.8.86
onnx==1.17.0
onnxoptimizer==0.3.13
openai==2.15.0
opencv-contrib-python==4.10.0.84
openpyxl==3.1.5
opt-einsum==3.3.0
orjson==3.11.5
packaging==25.0
paddle2onnx==2.1.0
paddlefsl==1.1.0
paddlenlp==2.8.1
paddleocr==3.3.2
paddlepaddle-gpu==3.3.0
pandas==2.3.3
parso==0.8.5
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
platformdirs==4.5.1
playwright==1.53.0
polygraphy==0.49.26
premailer==3.10.0
prettytable==3.17.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==3.20.3
psutil==7.2.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==23.0.0
pybind11==3.0.2
pyclipper==1.4.0
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.11.10
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
pyee==13.0.0
Pygments==2.19.2
Pympler==1.1
pyOpenSSL==25.3.0
pyparsing==3.3.1
pypdfium2==5.3.0
pyperclip==1.11.0
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.21
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.1.0
rank-bm25==0.2.2
rarfile==4.2
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
rich==14.2.0
rpds-py==0.30.0
ruamel.yaml==0.19.1
ruff==0.14.13
safehttpx==0.1.7
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
semantic-version==2.10.0
semver==3.0.4
sentencepiece==0.2.1
seqeval==1.2.2
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.8.3
stack-data==0.6.3
starlette==0.50.0
streamlit==1.13.0
streamlit-image-comparison==0.0.4
tf-playwright-stealth==1.2.0
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.2
toml==0.10.2
tomlkit==0.13.3
tool_helpers==0.1.2
toolz==1.1.0
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
typer==0.21.1
typer-slim==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uc-micro-py==1.0.3
ujson==5.11.0
urllib3==2.6.3
uvicorn==0.40.0
validators==0.35.0
visualdl==2.5.3
watchdog==6.0.0
wcwidth==0.5.3
websockets==11.0.3
Werkzeug==3.1.5
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
